* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body, html {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100vh;
    background-image: url(img/dan-cristian-padure-h3kuhYUCE9A-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.atas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.tengah {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 30px;
    border: 1px solid;
    border-radius: 20px;
    row-gap: 10px;
    background-color: white;
}

.tengah > h4 {
    height: 50px;
    display: flex;
    place-items: center;
    flex-wrap: wrap;
}

button {
    width: 100%;
    height: 60px;
    border-radius: 20px;
    border: 2px solid;
    transition: ease-in-out 0.2s;
}

button:active {
    transform: scale(0.9);
}

#soal2 {
    display: none;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

@media screen and (max-width: 700px) {

    body {
        background-image: url(img/dan-cristian-padure-h3kuhYUCE9A-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    * {
        font-size: x-large;
    }

    .atas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        max-width: 100%;
    }

    .tengah {
        width: 80%;
        margin-top: 20%;
        padding: 20px;
    }
}
