* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100vh;
}

.atas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tengah {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 30px;
    border: 1px solid;
    row-gap: 10px;
}