* {
    font-family: cursive, 'Baloo 2';
    font-size: large;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
